.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.rdbg
*.header_hero

/assets/grunka_wwise/.cache/
/assets/grunka_wwise/*.prof
/assets/grunka_wwise/*_WwiseProject.*.validationcache
/assets/grunka_wwise/*_WwiseProject.*.wsettings
/assets/grunka_wwise/**/*.akd

/LivePP
/build
/imgui.ini
